@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div>
        <a class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i> 创建应用
        </a>
    </div>
    <div>
        <table></table>

    </div>
</div>